/* ================= FONDO ================= */
.home-content {
  --background: radial-gradient(circle at right, #1a1a1a 0%, #0d0d0d 60%);
  color: #fff;
}

/* ================= BARRA ================= */
.top-bar {
  --background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

ion-toolbar {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links ion-router-link {
 text-decoration: none;
  color: #e0e0e0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
}


.nav-links ion-router-link:hover {
  color: #3c39e6;
}

.nav-links a:hover::after {
 position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #3c39e6;
  transition: all 0.3s ease;
  transform: translateX(-50%);;
}
/* ================= CONTENEDOR ================= */
.quiz-container {
  max-width: 900px;
  margin: auto;
  padding: 120px 20px 60px;
}

/* ================= SELECTOR DE NIVELES ================= */
.levels-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 26px;
  max-width: 700px;
  margin: 60px auto 0;
  justify-items: center;
}

.level-box {
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.level-box span {
  font-size: 13px;
  color: #bdbdbd;
  letter-spacing: 1px;
}

.level-box strong {
  font-size: 34px;
  margin-top: 6px;
  color: #ffffff;
}

.level-box:hover {
  background: #3c39e6;
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 12px 30px rgba(60, 57, 230, 0.4);
}


/* ================= QUIZ ================= */
ion-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

ion-card-content {
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}

/* ================= OPCIONES ================= */
.option-btn {
  width: 100%;
  margin-top: 14px;
  --background: rgba(255, 255, 255, 0.08);
  --border-radius: 14px;
  height: 48px;
  text-transform: none;
  transition: 0.3s;
}

.option-btn:hover {
  --background: #3c39e6;
}

/* ================= FEEDBACK ================= */
.feedback {
  margin-top: 18px;
  font-size: 18px;
}

.feedback.correct {
  color: #4caf50;
}

.feedback.incorrect {
  color: #f44336;
}
